

/* Utilizamops fuentes de google Font para el estilo */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');




/* ESTILO PARA EL MENU DE DESPLAZAMIENTO DE LA PAGINA WEB */

*{
    box-sizing: border-box;
    font-family: "Work Sans";
    margin: 0;
    padding: 0;
}

/* Para poder navegar en la pagina de acuerdo al menu del encabezado */
html{
    /* Permite el desplazamiento suave al hacer clic en los enlaces del menú */
    scroll-behavior: smooth;
}
section {
    scroll-margin-top: 90px; /* Ajusta  según la altura de tu header */
}


/* ---------------------------------- */
/* ESTILO DEL ENCABEZADO DEL  MENU*/
/* ---------------------------------- */


/* ESTILOS DEL HEADER : Para navegar en el incio  , sobre mi , skills , portafolio y Contacto */

/* Para darle formato , color al encabezado donde se muestra las listas de displiegue*/
.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;  
}

/* Separa el logo y la lista de despliegue*/
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-sizing: border-box;
}

/* Estilo para el logo */
.contenedor-header header .logo a{
    color: #49b8a0;
    font-size: 36px;
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
}

/* Estilo para el menu despliehue se ponga de manera horizontal */
.contenedor-header header ul{
    display: flex;
    list-style: none;

}

/* Estilo del texto de la listas de despliegue */
 .contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 10px;  
    padding: 3px ; 
    transition: .5s;
    text-decoration: none;
}

/* Estilo para el texto de la listas de despliegue al pasar el mouse por encima */
.contenedor-header header nav ul li a:hover{
    color: #49b8a0;
    border-bottom: 2px solid #49b8a0; /* Agrega una línea debajo del texto al pasar el mouse */
}

.nav-responsive{
    background: #49b8a0;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* ===== MEDIA QUERIES ===== */

/* Hamburguesa oculta por defecto */
.nav-responsive {
  display: none;
  background: #49b8a0;
  color: #fff;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* En pantallas pequeñas */
@media (max-width: 768px) {
  .contenedor-header header ul {
    display: none; /* se oculta el menú */
    flex-direction: column;
    background: #1e2326;
    position: absolute;
    top: 60px;
    right: 0;
    width: 220px;
    padding: 20px;
  }

  .contenedor-header header ul.active {
    display: flex; /* se muestra solo cuando se activa */
  }

  .nav-responsive {
    display: block; /* aquí sí aparece la hamburguesa */
  }
}
























/* ---------------------------------- */
/* ESTILO PARA LA SECCION: INICIO 
/* ---------------------------------- */

/* Separa da fondo al incicio  de manera opaca , ademas letras blancas*/
.inicio{
    background: linear-gradient(to top,rgba(30,35,38,.8), rgba(30,35,38,1)), url(img/fondo.jpg);
    background-size: cover;
    height: 80vh;
    margin-top: 50px;
    color: #fff;
    display: flex;
    padding: relative;
    align-items: center;
    padding-top: 0px;
}

/* Fondo donde va la foto de perfil y la informacion de titulos academicos mios*/
.inicio .contenedor-banner{
    padding: 30px;
    background-color: #1e2326;
    max-width: 350px;
    padding: relative;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

/* Posiciona la imagen en el centro del cuadro de perfil , ademas da fromato de bordo a la imagen de perfil */
.inicio .contenedor-banner img{
    margin-top: 30px;
    border: 2px solid #49b8a0; 
    display: block;
    width: 82%;
    margin: auto;
    border-radius: 100%;
    
}

/* Estilo del texto h1 de mi nombre que esta en el contener inicio , banner */
.inicio .contenedor-banner h1{
    font-size: 35px;
    margin: auto ;
    font-family: "Work Sans";
}

/* Estilo del texto h2 de mi titulos academicos */
.inicio .contenedor-banner h2{
    color: #49b8a0;
    font-size: 15px;
    font-weight: normal;
    margin: auto;
}

/* Estilo para los iconos de mis redes sociales */

.inicio .contenedor-banner .redes a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 10px 6px;
    font-size: 20px;
    transition: .3s;
}

/* Estilo para los iconos de mis redes sociales al pasar el mouse por encima se muestre de color */

.inicio .contenedor-banner .redes a:hover{
    background: #49b8a0;
    color: #fff;
    border: 1px solid #49b8a0;
}





/* ---------------------------------- */
/* ESTILO PARA LA SECCION: SOBRE MI */
/* ---------------------------------- */

/* Separa el fondo de la seccion sobre mi de manera opaca , ademas letras blancas */
.sobremi{
    background: #1e2326;
    padding: 50px 20px;
    color: #fff;
    padding-top: 20px;
}

/* Estilo del contenido Quien soy*/
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

/* Estilo del titulo "Sobre Mi" */
.sobremi h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: #49b8a0;
}


/*Estilo del texto de la descripcion de quien soy */
.sobremi .contenido-seccion p{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
}
.sobremi .contenido-seccion p span{
    color: #49b8a0;
    font-family: "Work Sans";
    font-weight: bold;
}


/* -----   DATOS PERSONALES e INTERESES ---------- */

.sobremi .fila{
    display: flex;
}
/*Distancia entre las columnas separadas */
.sobremi .fila .col{
    width: 50%;
}
/* Estilo del texto de los titulos de las columnas: Datos e Intereses */
.sobremi .fila .col h3{
    font-size: 20px;
    font-family: "Work Sans";
    margin-bottom: 20px;
    color: #49b8a0;
}

/* Estilo de el listado "li" de los DATOS PERSONALES: intervlineado , justificacion y color */
  /* Quita las viñetas de listado */
.sobremi .fila .col ul{
    list-style: none;
}
  /* Interlineado entre listas */
.sobremi .fila .col ul li{
   margin: 12px 0;
}
  /* Da formato solo a los strong */
.sobremi .fila .col ul li strong{
   display: inline-block;
   color: #49b8a0;
   width: 120px;
   font-family: "Work Sans";
}

.sobremi .fila .col ul li span{
    background-color: #49b8a0;
    padding: 3PX;
    font-weight: bold;
    border-radius: 5px;
}

/* Estilo de el listado "li" de los INTERESES: intervlineado , justificacion y color */
  /* Pone en un sola fila toda los listados */
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
  /* Aliena que cada item del listado se forme en columnas */
.sobremi .fila .col .contenedor-intereses .interes {
    width: 100px;
    height: 100px;
    margin-top: px;
    background-color: #353e42;
    border-radius: 10px;
    margin: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
} 
.sobremi .fila .col .contenedor-intereses .interes i {
    margin-bottom: 8px; /* Espacio entre ícono y texto */
    font-size: 30px;
    margin-bottom: 10px;
}

/* AL pasar el cursor se pinta el listado */ 
.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #49b8a0;
}
  

/* Estilo para el BOTON de descagar CV y color al pasar curso (hover) */
/* Fomato del boton color , bordes y alineacion*/
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #e6e9e8;
    width: fit-content;
    display: block;
    margin: 20px auto;  
    padding: 10px 22px;
    font-size: 16px;
    position: relative;
    z-index: 10;
    color: #fff;
}

/* Estilo de barra de carga del boton descarga CV */
.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #49b8a0;
    z-index: -1;
    transition: 1s;
}
/* Al pasar el cursor se pinta el boton */
.sobremi button:hover .overlay{
    width: 100%;
}


/* ---------------------------------- */
/* ESTILO PARA LA SECCION: SKILLS */
/* ---------------------------------- */


.skills{
    background: #2c3236;
    padding: 50px 20px;
    color: #fff;
}

/* Estilo del contenido Quien soy*/
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

/* Estilo del titulo "Skils" */
.skills h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: #49b8a0;
}

/* Estilo de los lsitados de habilidades : tecnicas y profesionales*/
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}

/* Estilo titulos: Tecnicos y Profesionales */
.skills .fila .col h3{
    font-size: 28px;
    font-family: "Work Sans";
    margin-bottom: 25px;
    color: #49b8a0;
}
/* Dar formato negrilla a las habilidades*/
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

/* ESTILO DE LA CREACION DE BARRAS*/
/*Crea la barras*/
.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #484f53;
    position: relative;
    margin-bottom: 30px;
}
/* Para que exista progreso en las barras del valor de porcentaje */
.skills .skill .progeso{
    background: #49b8a0;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

/* Configuracion del fomrato de los procentajes de habilidades*/
.skills .skill .barra-skill span{
    position: absolute; 
    height: 40px;
    width: 40px;
    background-color: #49b8a0;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

/* Creamos las clases para los skills que se van a mostrar en las barras de habilidades para su progreso */

/* HABILIDAD: java */
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript{
    0%{width: 0%;}
    100%{width: 50%;}
}
/* HABILIDAD: HTML */
.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss{
    0%{width: 0%;}
    100%{width: 50%;}
}

/* HABILIDAD: PYTHON */
.skills .skill .pythonn{
    width: 0%;
    animation: 2s pythonn forwards;
}
@keyframes pythonn{
    0%{width: 0%;}
    100%{width: 40%;}
}

/* HABILIDAD: SQL */
.skills .skill .sqll{
    width: 0%;
    animation: 2s sqll forwards;
}
@keyframes sqll{
    0%{width: 0%;}
    100%{width: 60%;}
}

/* HABILIDAD: POWER BI */
.skills .skill .polook{
    width: 0%;
    animation: 2s polook forwards;
}
@keyframes polook{
    0%{width: 0%;}
    100%{width: 70%;}
}

/* HABILIDAD: EXCEL */
.skills .skill .excel{
    width: 0%;
    animation: 2s excel forwards;
}       

@keyframes excel{
    0%{width: 0%;}
    100%{width: 70%;}
}


/* HABILIDAD: ANALISIS ESTADISTCIO */
.skills .skill .estadistico{
    width: 0%;
    animation: 2s estadistico forwards;
}       

@keyframes estadistico{
    0%{width: 0%;}
    100%{width: 80%;}
}

/* HABILIDAD: VISUALIAZACION DE DATOS */
.skills .skill .graficos{
    width: 0%;
    animation: 2s graficos forwards;
}       

@keyframes graficos{
    0%{width: 0%;}
    100%{width: 80%;}
}


/* HABILIDAD: Ciencia de Datos */
.skills .skill .datos{
    width: 0%;
    animation: 2s datos forwards;
}       

@keyframes datos{
    0%{width: 0%;}
    100%{width: 60%;}
}


/* HABILIDAD: Resolución de Problemas */
.skills .skill .problema{
    width: 0%;
    animation: 2s problema forwards;
}       
@keyframes problema{
    0%{width: 0%;}
    100%{width: 90%;}
}


/* HABILIDAD: Trabajo en equipo */
.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}       
@keyframes trabajo{
    0%{width: 0%;}
    100%{width: 100%;}
}


/* HABILIDAD: Adaptabilidad y aprendizaje*/
.skills .skill .adaptabilidad{
    width: 0%;
    animation: 2s adaptabilidad forwards;
}       
@keyframes adaptabilidad{
    0%{width: 0%;}
    100%{width: 100%;}
}


/* ---------------------------------- */
/* ESTILO PARA LA SECCION: CURRICULUM */
/* ---------------------------------- */

/* Estilo del fondo de la seccion curriculum */
.cv {
    background-color: #1e2326;
    padding: 50px 20px;
    color: #fff;
}

.cv .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

/*Estilo para el color del titulo de la seccion Curriculum */

/* Titulo de la seccion Curriculum */
.cv h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: #49b8a0;
}

/* Estilo de los titulos de experiencia y educacion */
.cv h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #f6faf9;
}
/* Estilo de los subtitulos de experiencia y educacion */
.cv h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #49b8a0;
}

/* Estilo de formato del parrofo de descricpciones de experiencia y educacio*/
.cv p {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 20px;
    text-align: justify;
}



/* Separa el contenido de la seccion curriculum en dos columnas y centradas */
.cv .fila {
    display: flex;
}
.cv .fila .col {
    width: 50%;
    padding: 0 20px;
}

.cv .fila .col h3 {
    font-size: 28px;
    font-family: "Work Sans";
    margin-bottom: 25px;
}

.cv .fila .izquierda {
    border-right: 1px solid #49b8a0;
}

/* Estilo del fondo de la seccion de item , donde va la experiencia y educacion */
.cv .fila .item {
    padding: 25px;
    margin-bottom: 20px;
    background-color: #2c3236;  
    position: relative;
    border-radius: 10;
}



/* ---------------------------------- */
/* ESTILO PARA LA SECCION: PORTAFOLIO */
/* ---------------------------------- */

/******** ESTILO DE LA SECCION */
.portafolio{
    background: #2c3236;
    padding: 100px 50px;
    margin: 0 auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 40px 20px;
    

}

/* Estilo del titulo "Portafolio" */
.portafolio h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: #f3f5f4;
}
/* Estilo del subtitulo de cada proyecto del portafolio */
.box {
  text-align: center;
  width: 100%; /* ajusta según tu diseño */
}

/* Estilo de las cajas donde van las imagenes del portafolio */
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
/* Para que la primera imagen del portafolio sea mas grande que las demas */
.box:nth-child(1){
    grid-column: span 2;
}
.box:nth-child(4){
    grid-column: span 2;
}

/* Al pasar el mouse por encima de las imagenes del portafolio se agrande */
.box:hover img{
    transform: scale(1.1);
    transition: .5s;
}

.overlay {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Para que las imganes se acoplen a la pagina cuando se achica y se pongan en vertical con el mismo tamaño */
@media (max-width: 768px){
    .portafolio{
        padding: 30px;
        grid-template-columns: repeat(1, 1fr);
    }

    .box:nth-child(1){
        grid-column: span 2;
    }
    .box:nth-child(4){
        grid-column: span 2;
    }

    .box:hover img{
    transform: scale(1.1);
    transition: .5s;
    }
}



/*********** para el POPUP: ventan pequeña de cada proyecto*/

/* Estilo del fondo del modal */
.modal {
  display: none;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Scroll si contenido es grande */
  background-color: rgba(0,0,0,0.5);
}

/* Estilo del contenido del modal */
.modal-content {
  background-color: #dddbdb;
  margin: 5% auto;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px; /* ancho máximo */
  width: 50%;
  height: 80%; /* Altura máxima del modal */
  position: relative;
  overflow-x: auto; /* Scroll vertical */
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

/* Estilo del titulo del modal */
.modal-content h2 {
  margin-top: 10px;
  color: #141414;
  text-align: center;
}
.modal-content h3 {
  margin-top: 10px;
  color: #141414;
  
}

/* Estilo del parrafo del modal */
.modal-content p {
  margin-top: 10px;
  color: #141414;
  text-align: center;
}



/* Carrusel */
.carousel-modal {
  position: relative;
  width: 80%;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  height: 300px;
  object-fit: cover;
  display: none; /* Oculta todas las imágenes al inicio */
}

.carousel-image.active {
  display: flex;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10; /* Para que quede sobre las imágenes */
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}


/* Modal responsive: PARA AJUSTAR A PANTALLAS DIFERNETES */
@media screen and (max-width: 768px) {
  .modal-content {
    width: 90%;          /* Ocupa casi toda la pantalla */
    height: auto;        /* Ajusta altura según contenido */
    margin: 5% auto;     /* Menos margen arriba/abajo */
    padding: 15px;
  }

  .carousel-modal {
    width: 100%;         /* Carrusel ocupa todo el ancho del modal */
    max-width: 100%;
  }

  .carousel-image {
    height: 300px;       /* Menor altura para móviles */
    padding: 5px;
    margin-top: 10px;
  }

  .prev, .next {
    padding: 6px 10px;   /* Botones más pequeños */
    top: 50%;
  }
}

/* Para pantallas muy pequeñas (celulares) */
@media screen and (max-width: 480px) {
  .modal-content {
    width: 95%;
    padding: 10px;
  }

  .carousel-image {
    height: 150px;
  }

  .prev, .next {
    padding: 5px 8px;
  }
}

/*** ESTILO DE LOS ICONOS DE LAS TECNOLOGIAS */
.skills-icons {
    display: flex;          /* Hace que los iconos estén en fila */
    gap: 20px;              /* Espacio entre cada icono */
    align-items: center;    /* Centrar verticalmente */
    justify-content: flex-start; /* Alineación horizontal */
    margin-top: 10px;
}

.skills-icons img {
    width: 40px;            /* Tamaño de cada icono */
    height: 40px;
    object-fit: contain;    /* Ajusta la imagen dentro del recuadro */
    cursor: pointer;
    transition: transform 0.3s;
}

.skills-icons img:hover {
    transform: scale(1.2);  /* Efecto al pasar el mouse */
}

/*** ESTILO FUNCIONES EN EL PROYECTO */
.skills-icons ul {
    list-style-type: disc;   /* viñetas circulares */
    padding-left: 20px;      /* separación desde el borde */
    margin: 0;
}

.skills-icons li {
    margin-bottom: 2px;      /* espacio entre cada elemento */
    font-size: 14px;
    color: #333;
}

/*** ESTILO boton ver proyectos */
.ver-proyecto {
    display: flex;
    justify-content: center; /* centra horizontalmente */
    margin-top: 20px;        /* separa del contenido anterior */
}

.btn-codigo {
    background-color: #4c5053;   /* color inicial */
    color: #fff;                 /* texto blanco */
    border: none;
    margin-top: 10px;
    
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s, transform 0.2s;
}

/* Efecto hover */
.btn-codigo:hover {
    background-color: #49b8a0;  /* color al pasar el cursor */
    transform: scale(1.05);      /* efecto ligero de agrandamiento */
}

/*** ESTILO DEL VIDEO EN EL MODAL */

.video-modal {
  display: flex;
  max-width: 100%;
  justify-content: center;   /* Centra horizontalmente */
  margin: 40px 0;
}

.video-content {
  width: 90%;   /* Ajusta el ancho total  */  
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  object-fit: cover;   /* Ajusta el video sin deformarlo */
}










